body {
    font-family: 'Poppins', sans-serif;
    background: #F2E8CF;
    color: #386641;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #BC4749;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.gameControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons button {
    background: #6A994E;
    color: white;
    font-size: 1.5rem;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.buttons button:hover {
    background: #A7C957;
    transform: translateY(-5px);
}

.buttons button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scores {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    color: #386641;
}

.scores p {
    margin: 5px 0;
}

#results {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #BC4749;
    border-radius: 10px;
    background: rgba(174, 220, 178, 0.5);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#results p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #386641;
}
